{% set gh = load_python(path="config/github.py") -%}
name: build
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    strategy:
      matrix:
        include:
{%- for pair in gh.workflows_platforms %}
          - os: "{{ pair[0] }}"
            python-version: "{{ pair[1] }}"
{%- endfor %}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: python {% raw %}${{ matrix.python-version }}{% endraw %}
      uses: actions/setup-python@v5
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
        cache: "pip"
    - name: bootstrap-pip
      run: python -m pip install --upgrade pip
    - name: bootstrap
      run: python -m pip install pydmt
    - name: pydmt
      run: pydmt build
